.cust-card {
    background-color: #333;
    color: white;
    width: 500px;
    height: 170px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the start of the flex container */
  }

.main-content{
    position: fixed;
    top: 100px;
    left: 300px;
}

h4{
    text-align: left;
}

.cust-card-title{
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.cust-data{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    color: greenyellow;
}